<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>No Survey Published</title>
</head>
<body>
<div><a href="/">Go to Home Page</a></div>
<div style="margin-top:40px; margin-left: 10px; position:relative;" align="left">
    <div sec:authorize="isAuthenticated()">
        <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
<h1>Sorry, No survey published!</h1>
</body>
</html>