<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
</head>
<body>
    <div style="margin-top:40px; margin-left: 10px; position:relative;" align="center">
        <div sec:authorize="isAuthenticated()">
            <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div style="margin-top: 10px">
            <h3 style="color: green">Survey is successfully created</h3>
        </div>
        <div sec:authorize="isAuthenticated()"><a href="/">Go to Home Page</a></div>
        <div sec:authorize="isAuthenticated()"><a th:href="@{/question/questionmanager}">Question Management</a> </div>
			<a th:href="@{/course/survey/surveywelcomepage/createsurvey/display}">Edit Survey</a>
        
    </div>
</body>
</html>